<div ng-controller="VehicleModelController" ng-init="sortVehModel(page,'Name_desc',searchString)">
    <a ui-sref="PostVehModel" class="btn btn-primary btn-xs">Add new vehicle model</a>
    <br /><br />
    <form ng-submit="sortVehModel(page,sortOrd,searchString)" class="form-inline">
        <div class="form-group">
            <label>Search</label>
            <input type="text" ng-model="searchString" class="form-control" placeholder="Search">
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Vehicle Make Name<a ng-click="sortVehModel(page,'MakeName_asc',searchString)">^</a><a ng-click="sortVehModel(page,'MakeName_desc',searchString)">ˇ</a></th>
                <th>Vehicle Make Abrv<a ng-click="sortVehModel(page,'MakeAbrv_asc',searchString)">^</a><a ng-click="sortVehModel(page,'MakeAbrv_desc',searchString)">ˇ</a></th>
                <th>Name<a ng-click="sortVehModel(page,null,searchString)">^</a><a ng-click="sortVehModel(page,'Name_desc',searchString)">ˇ</a></th>
                <th>Abrv<a ng-click="sortVehModel(page,'Abrv',searchString)">^</a><a ng-click="sortVehModel(page,'Abrv_desc',searchString)">ˇ</a></th>
                <th>Delete</th>
                <th>Update</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="model in models">
                <td>{{model.VehicleMake.Name}}</td>
                <td>{{model.VehicleMake.Abrv}}</td>
                <td>{{model.Name}}</td>
                <td>{{model.Abrv}}</td>
                <td><a ui-sref="DeleteVehModel({modelId: model.VehicleModelId })" class="btn btn-primary btn-xs">Delete</a></td>
                <td><a ui-sref="UpdateVehModel({modelId: model.VehicleModelId })" class="btn btn-primary btn-xs">Update</a></td>
                <td><a ui-sref="DetailsVehModel({modelId: model.VehicleModelId })" class="btn btn-default btn-xs">Details</a></td>
            </tr>
        </tbody>
    </table>
    <form ng-submit="sortVehModel(page,sortOrd,searchString)" class="form-inline">
        <div class="form-group">
            <input type="text" ng-model="page" class="form-control" placeholder="Page Number">
        </div>
    </form>
    Sorted by:{{sortOrd}}
</div>