<h1><a ui-sref="VehModel" class="btn btn-primary btn-xs">Models</a></h1>
<div ng-controller="VehicleMakeController" ng-init="sortVehMake(page,'Name',searchString)">
    <a ui-sref="PostVehMake" class="btn btn-primary btn-xs">Add new vehicle maker</a>
    <br /><br />
    <form ng-submit="sortVehMake(page,sortOrd,searchString)" class="form-inline">
        <div class="form-group">
            <label>Search</label>
            <input type="text" ng-model="searchString" class="form-control" placeholder="Search">
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name<a ng-click="sortVehMake(page,null,searchString)">^</a><a ng-click="sortVehMake(page,'Name_desc',searchString)">ˇ</a></th>
                <th>Abrv<a ng-click="sortVehMake(page,'Abrv',searchString)">^</a><a ng-click="sortVehMake(page,'Abrv_desc',searchString)">ˇ</a></th>
                <th>Delete</th>
                <th>Update</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="make in makers">
                <td>{{make.Name}}</td>
                <td>{{make.Abrv}}</td>
                <td><a ui-sref="DeleteVehMake({makeId: make.id})" class="btn btn-primary btn-xs">Delete</a></td>
                <td><a ui-sref="UpdateVehMake({makeId: make.id})" class="btn btn-default btn-xs">Update</a></td>
                <td><a ui-sref="DetailsVehMake({makeId: make.id})" class="btn btn-default btn-xs">Details</a></td>
            </tr>
        </tbody>
    </table>
    <form ng-submit="sortVehMake(page,sortOrd,searchString)" class="form-inline">
        <div class="form-group">
            <input type="text" ng-model="page" class="form-control" placeholder="Page Number">
        </div>
    </form>
    Sorted by:{{sortOrd}}
</div>